*{
    margin: 0;
    padding: 0;
}

body{
    color:black;
}

.products{
    padding-left: 30px;
    padding-right: 30px;
    padding-inline: 30px;
}
.header{
    display: flex;
    margin-left: 20px;
    gap: 50px;

}
.sectiona{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#section1{
    color: white;
    width: 120%;
}

.head{
    justify-items: right;
}

.middle{
    justify-content: center;
    margin-left: 300px;
}

.shopping{
    height: 20px;
}

.img1{
    height: 80px;
    border-radius: 50%;   
}

.items{
    background-color: rgb(182, 176, 176);
    list-style: none;
    flex-direction: row;
    text-decoration: none;
    display: inline-block;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.slick-list{
   display: flex;
   justify-items: center;
   flex-direction: row;
   gap: 20px;   
}

.slick-list1{
    justify-self: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 40px;
    
}

.women{
    width: 120%;
}

.slick-list2{
    display: flex;
    justify-items: center;
    flex-direction: row;
    gap: 20px;   
}

.slick-list3{
    display: flex;
    justify-items: center;
    flex-direction: row;
    gap: 20px;   
}

.slick-list4{
    display: flex;
    justify-items: center;
    flex-direction: row;
    gap: 20px;   
}

.top{
    margin-top: 50px;
    margin-left: 200px;
}

.bottom{
    margin-right: 100px;
    margin-left: 200px;
    padding-bottom: 5px;
    font-size: small;
    margin-bottom: 60px;
}

.bottom2{
    margin-right: 200px;
}

.sectiong{
    gap: 20px;
    display: flex;
    padding-left: 30px;
    padding-right: 10px;
    border: thin;
    font-size: medium;
}

.sectionh{
    margin-top: 100px;
    display: flex;
    padding-left: 30px;
    margin-left: 10px;
    gap: 60px;
    text-decoration: none;
    text-decoration-line: none;
    font-size: small;
}

.text{
    margin-right: 200px;
    font-size: medium;
}
   
.main{
    font-size: medium;
}

.button{
    font-size: medium;
    background-color: yellow;
    border: yellow;
    border-radius: 10%;
    filter: contrast(100%);
}

.Get{
    border: 2px solid;
    height: 210px;
    width: 350px; 
}

.store{
   border: 2px solid;
   height: 210px;
   width: 350px; 
}

.point{
    border: 2px solid;
    height: 210px;
    width: 350px; 
}

footer{
    background: rgb(20, 17, 17);
    color: white;
    width: 125%;
    margin-top: 40px;
}

.gallery{
    display: flex;
    gap: 20px;
    margin-left: 0;
}

.pic{
    display: flex;
    gap: 20px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

.shirts{
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
}

.Trouser{
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
}

.jackets{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.button1{
    margin-left: 300px;
    cursor: move;
    border-radius: 50%;
}

.kids{
    margin-left: 0;
    border: 2px solid;
}

.itemss{
    background-color: rgb(186, 246, 246);
    width: 125%;
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.black{
    margin-top: 40px;
    width: 125%;
    background-color: rgb(132, 189, 239);
}
.acccessories{
    background-color: rgb(93, 93, 138) ;
    width: 125%;
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.mine{
   margin-left: 200px;
    width: 125%;
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.j1{
    padding-top: 30px;
    margin-left: 400px;
}

.cloth{
    margin-bottom: 50px;
    margin-left: 200px;
    width: 125%;
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.sectionc{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    gap: 50px;
    margin-left: 10px;
}

.sectiond{
    margin-left: 40px;
    
}

.sectione{
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionf{
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionz{
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionp{
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectioni{
 padding-top: 20px;
 padding-bottom: 20px;

 }

.sectionj{
 padding-top: 20px;
 padding-bottom: 20px;
}

.sectionk{
 padding-top: 20px;
 padding-bottom: 20px;
}
.section{
 padding-top: 20px;
 padding-bottom: 20px;
}
.sectionl{
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionm{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.sectionz{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    gap: 50px;
    margin-left: 10px;
}

.sectiony{
    margin-left: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img1{
    padding-top: 20px;
    padding-bottom: 20px; 
}

.myemail{
    padding-top: 20px;
    padding-bottom: 20px;
}

.mypassword{
    padding-top: 20px;
    padding-bottom: 20px;
}

.recaptchaMsg{
    padding-top: 20px;
    padding-bottom: 20px;
}

.mysigninbutton{
    border: red;
    background-color: red;
    border-radius: 10px;
    cursor: alias;
}

.sectionr{
    width: 1200px;
    width: 125%;
    height: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 300px;
    
   
}