*{
    margin: 0;
    padding: 0;
}

.myimg{
    height: 100px;
    max-width: 100%;
}
.form{
    width: 100%;
    max-width: 65%;
    border-radius: 6px;
    background: white;
    margin: 25px auto;
    border-radius: 2px solid rgb(238, 232, 232);
    padding: 82px;
    background-image: url("./assets/img.jpg");
    background-size: cover;

}

input[type=text],input[type=email],input[type=password],textarea{
    width: 100%; 
   
    
}

.section1{
    margin-left: 800px;
}

.sectionc{
    display:grid;
    align-content: flex-end;
    justify-content: left;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 0;
    gap: 30px;
}

footer{
    display: flex;
    gap: 30px;
    
}

.sectione{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 400px;
}

.sectionf{
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
   
}

